<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page</title>
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="main-content">
        {{> header }}
        <p>This site was created by Victor Zapata. It uses Dark Sky and MapBox APIs.</p>
    </div>
    
    {{> footer }}
</body>
</html>